body {
  background: #393f49; }

.application {
  width: 100%;
  max-width: 1155px;
  margin: 65px auto;
  border-radius: 12px;
  background-color: #f2f2f2; }
  .application .header {
    float: left;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 15px 30px 12px;
    background-color: #fff; }
  .application .logo {
    display: block;
    float: left;
    max-width: 250px; }
    .application .logo img {
      width: 100%;
      height: auto; }
  .application .title {
    float: right;
    color: #bdccd4; }
  .application .main-content {
    display: flex;
    padding: 30px; }
  .application .table-controls {
    width: 125px;
    padding-right: 30px; }
    .application .table-controls button {
      border: 2px solid #ccc;
      border-radius: 7px;
      background: linear-gradient(#fefefe, #e6e6e6);
      color: #808080;
      font-weight: bold;
      outline: none; }
    .application .table-controls button:hover {
      opacity: 0.8; }
    .application .table-controls button:active {
      opacity: 0.7; }
  .application .table {
    /* tr:nth-child(odd) th { background: #e6e6e6; }
        tr:nth-child(even) th { background: $bg-application; } */ }
    .application .table th, .application .table td {
      border: 1px solid #d1d3d4;
      padding: 8px 12px;
      vertical-align: middle; }
    .application .table thead th {
      padding: 3px 12px;
      background: linear-gradient(#f0f1f1, #e6e7e8); }
    .application .table .th1 {
      width: 10px;
      background: linear-gradient(#1e9cd7, #005b97); }
    .application .table tr:nth-child(odd) {
      background-color: #f9f9f9; }
    .application .table tr:nth-child(even) {
      background-color: #fff; }
    .application .table .td-sex, .application .table .td-tier {
      width: 40px;
      height: 40px;
      padding: 0; }
