$bg-page: #393f49;
$bg-application: #f2f2f2;
$bg-white: #fff;
$bg-grey: #ccc;
$text-standard-colour: #58595b;
$spacer: 30px; // 30px margins and padding is common in this design

body {
    background: $bg-page;
    color: $text-standard-colour;
}

a { color: $text-standard-colour; }

.application {
    width: 100%;
    max-width: 1155px;
    margin: 65px auto;
    border-radius: 12px;
    background-color: $bg-application;

    .header {
        float: left;
        width: 100%;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        padding: 15px $spacer 12px;
        background-color: $bg-white;
    }

    // These items can be floated, as flexing might be a little overkill
    .logo {
        display: block;
        float: left;
        max-width: 250px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .title {
        float: right;
        padding-top: 7px;
        color: #bdccd4;
        font-size: 20px;
    }

    .main-content {
        display: flex; // Flex the table controls and table
        padding: $spacer;
    }

    .table-controls {
        button {
            width: 125px;
            margin-right: $spacer;
            border: 2px solid $bg-grey;
            border-radius: 7px;
            background: linear-gradient(#fefefe, #e6e6e6);
            color: #808080;
            outline: none;
        }

        button:hover { opacity: 0.8; }
        button:active { opacity: 0.7; }
    }

    .table {
        th, td {
            border: 1px solid #d1d3d4;
            padding: 8px 12px;
            vertical-align: middle;
        }

        thead th {
            padding: 3px 12px;
            background: linear-gradient(#f0f1f1, #e6e7e8);
        }

        .th1 {
            width: 10px;
            background: linear-gradient(#1e9cd7, #005b97);
        }

        tr:nth-child(odd) { background-color: #f9f9f9; }
        tr:nth-child(even) { background-color: $bg-white; }

        // Need to use background here for specificity logic
        /* tr:nth-child(odd) th { background: #e6e6e6; }
        tr:nth-child(even) th { background: $bg-application; } */

        .td-sex, .td-tier {
            width: 40px;
            height: 40px;
            padding: 0;
        }
    }
}
